*{
    padding: 0;
    margin: 0;
    color: white;
    text-align: justify;
}



img[src="images/Imagen Don Bosco PNG.png"]{
    background-color: white;
    width: 90px;
    margin-left: 1em;
}

body{
	background: -webkit-linear-gradient(rgb(6, 6, 145), black);
    font-family:'Times New Roman', Times, serif;
}

header{
    border-radius: 15px;
    margin: 20px;
    background-color: white;
}

header h1, header p{
    color: black;
    margin-top: none;
}

header div{
    display: inline-block;
}

.Don_Bosco{
    width: 20%;
    margin-left: 1em;
}
.container{
    width: 78%;
}

p{
    line-height: 23px;
}

article.JavaScript img{
    max-width: 320px;
    float: left;
    border: 3px;
    border-radius: 10px;
    margin-right: 15px;
}

#barra_menu {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.menu-box {
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid white; 
    padding: 10px; 
    border-radius: 10px; 
    display: inline-block;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: none;
    background: none;
    outline: none;
}

.menu li a:hover {
    color: lightgray;
}

.JavaScript{
    margin: 60px;
    padding: 10px;
    text-size-adjust: 30px;
    text-decoration-line: rgb(7, 7, 7);
}

.JavaScript h2{
    color: white;
    margin: 30px;
    font-size: 45px;
    letter-spacing: 2px;


}
.JavaScript p{
    color: rgb(255, 253, 253);
    letter-spacing: 1px;
    margin: 30px;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 3px;

}

.Uso h2{
    color: whitesmoke;
    margin: 30px;
    letter-spacing: 1.5px;
    font-size: 45px;
    line-height: 1.5;
    word-spacing: 3px;
    
}

.Uso p{
    letter-spacing: 2.5px;
    margin: 30px;
    font-size: 16px;
    word-spacing: 3.5px;
    text-size-adjust: 30px;
}

.Uso img{
    margin: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    border: 3px;
}


.Variables{
    color: white;
    margin: 30px;
    font-size: 45px;
    letter-spacing: 2px;

}

.Variables p{
    letter-spacing: 2.5px;
    margin: 30px;
    font-size: 16px;
    line-height: 1.7;
    word-spacing: 3.5px;
}
